.dogs-content {
    display: flex;
    position: absolute;
    top: 10em;
    left: -10em;
    color: #ffffff;
}

.dogs-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.dogs-container { 
  display: flex;
  flex-direction: column;
  margin-left: 15em;
  margin-bottom: 5em;
}

.dogs-image {
    width: 1em;
}

.dogs-image img {
    height: 13.5em;
    width: 13.5em;
    object-fit: cover;
    border-radius: 1em;
}

.dogs-row {
    display: flex;
    flex-direction: row;
}

.dogs-name {
    margin-right: 1em;
    padding-left: 1em;
}

.check-green {
    color: #008000;
}

.check-red {
    color: #ff0000;
}