* {
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 80vw;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  padding: 0; 
}

.App-header {
  background-color: #000000;
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  margin-bottom: 6em;
}

.header-title button {
  position: absolute;
  top: 3.8em;
  right: 0.5em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  font-size: 2em;
  color: #ffffff;
}

.App-link {
  color: #61dafb;
}

.husky-banner {
  position: absolute;
  top: 0.5em;
  right: 0.2em;
  height: 8em;
}

.husky-banner img {
  border-radius: 20em;
}

body {
  background-color: #000000;
  margin: 0;
  padding: 0;
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

